@using Eventflow.Domain.Models.ViewModels
@model EventDropdownViewModel

@{
    string dropDownId = $"dropdown-{Model.Index}";
}

<div id="@dropDownId" class="event-dropdown bg-white border rounded p-2 mt-2 shadow-sm text-start"
        style="position: absolute; top: 30px; left: 0; z-index: 10; width: 180px;">
    <ul class="list-unstyled mb-0 small">
    @foreach (var pe in Model.PersonalEvents)
    {
        <li class="text-success" style="cursor: pointer;"
            onclick="openEventModal({
        id: '@pe.Id',
        title: '@pe.Title',
        description: '@pe.Description',
        date: '@Model.Date.ToString("yyyy-MM-dd")',
        category: '@pe.CategoryName',
        isInvited: @pe.IsInvited.ToString().ToLower()
        })">
            📌 @pe.Title
        </li>
    }
    </ul>
</div>
