@using Eventflow.Domain.Models.ViewModels
@model CreatePersonalEventSelectModel

@{
    var name = Model?.Name ?? "";
    var selectedValue = "";
    var error = "";
    var showError = false;

    if (!string.IsNullOrEmpty(name) && ViewContext.ViewData.Model != null)
    {
        var prop = ViewContext.ViewData.Model.GetType().GetProperty(name);
        var valueObj = prop?.GetValue(ViewContext.ViewData.Model);
        selectedValue = valueObj?.ToString() ?? "";

        if (ViewContext.ViewData.ModelState.TryGetValue(name, out var state))
        {
            showError = state.Errors.Any() && state.RawValue != null;
            error = showError ? state.Errors.First().ErrorMessage : "";
        }
    }
}

<div class="mb-3">
    <label for="@name" class="form-label">@Model!.Label</label>
    <select id="@name"
    name="@name"
    class="form-select @(showError ? "is-invalid" : "")">
        <option value="">@Model.CategoryOptionLabel</option>
        @foreach (var option in Model.CategoryOptions)
        {
            if (option.Id.ToString() == selectedValue) {
                <option value="@option.Id" selected>@option.Name</option>
            }
            else {
                <option value="@option.Id">@option.Name</option>
            }
        }
    </select>

    @if (showError)
    {
        <span class="text-danger">@error</span>
    }
</div>
