@using Eventflow.Domain.Enums
@using Eventflow.ViewModels
@model ReminderBoxViewModel

@{
    bool isUnread = Model.Status == ReminderStatus.Unread;
}

<div class="reminder-wrapper position-relative" id="reminder-wrapper-@Model.Id">
    <div class="card mb-4 shadow-sm border reminder-card" id="reminder-@Model.Id">
        <div class="card-body d-flex justify-content-between align-items-center position-relative">

            <button type="button"
                class="like-star-btn @(Model.IsLiked ? "liked" : "")"
                data-id="@Model.Id"
                aria-label="Toggle Like Reminder">
                ★
            </button>

            <div>
                <h5 class="card-title">
                    @Model.Title
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Event: 
                    <strong>
                        @Model.EventTitle
                    </strong>
                </h6>
                <p class="card-text mb-1">
                    @Model.Description
                </p>
                <p class="text-secondary mb-2">
                    <i class="bi bi-calendar-event"></i> 
                    @Model.Date.ToString("MMMM dd, yyyy")
                </p>
            </div>

            <div class="ms-auto">
                @await Html.PartialAsync("~/Views/Shared/Partials/Reminder/_ReminderStatusControl.cshtml", Model)
            </div>
        </div>
    </div>
</div>
